<div class="post-card">
  <h6 class="post-title"><%= @post.title %></h6>
  <p><%= @post.text %></p>
  <div class="post-details-counter">
    <span>Likes: <%= @post.likes_counter || 0 %></span>
    <span>Comments: <%= @post.comments_counter || 0 %></span>
  </div>
</div>

<% if @post.comments.length > 0 %>
  <div class="comments-card">
    <ul class="post-comments">
      <% @post.last_five_comments.each do |comment| %>
        <li><%= comment.author.name %>: &nbsp; <%= comment.text %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= render "comments/form", post: @post %>