<!DOCTYPE html>
<html>
  <head>
    <title>BlogApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "#{params[:controller]}/#{params[:action]}", "data-turbo-track": "reload" %>
  </head>

  <body>
    <header>
      <nav>
        <a href="/" class="nav-link">Home</a>
      </nav>
    </header>
    <main class="content-container">
      <%= yield %>
    </main>
  </body>
</html>
